<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:dist="http://schemas.android.com/apk/distribution"
          package="org.nearbyshops.shopkeeperappnew">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />



    <dist:module dist:instant="true"/>

    <application
            android:name=".MyApplication"
            android:allowBackup="true"
            android:icon="@drawable/app_icon"
            android:label="@string/app_name"
            android:roundIcon="@drawable/app_icon"
            android:supportsRtl="true"
            android:usesCleartextTraffic="true"
            android:theme="@style/AppTheme">


<!--        <activity-->
<!--                android:name=".MainActivity"-->
<!--                android:label="@string/app_name">-->
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN"/>-->

<!--                <category android:name="android.intent.category.LAUNCHER"/>-->
<!--            </intent-filter>-->
<!--        </activity>-->



        <!-- Set custom default icon. This is used when no icon is set for incoming notification messages.
     See README(https://goo.gl/l4GJaQ) for more. -->
            <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/app_icon" />
        <!-- Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more. -->
            <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id" />


        <service
            android:name=".Firebase.MessagingService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>





        <service
            android:name=".Services.UpdateServiceConfiguration"
            android:exported="false" />




        <activity
            android:launchMode="singleTop"
            android:name=".DeliveryPersonInventory.DeliveryGuyDashboard"
            android:label="Delivery Inventory"
            android:parentActivityName=".Home">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Home" />

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />

            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
        </activity>




        <activity
            android:name="org.nearbyshops.shopkeeperappnew.SelectDeliveryGuy.SelectDeliveryGuy"
            android:label="Select Delivery Guy"
            android:parentActivityName="org.nearbyshops.shopkeeperappnew.Home">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.nearbyshops.shopkeeperappnew.Home" />
        </activity>





        <activity
            android:launchMode="singleTop"
            android:name="org.nearbyshops.shopkeeperappnew.OrdersInventory.PickFromShopInventory.PickFromShopInventory"
            android:label="Pick From Shop Inventory"
            android:parentActivityName="org.nearbyshops.shopkeeperappnew.ShopHome.ShopHome">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.nearbyshops.shopkeeperappnew.ShopHome.ShopHome" />

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />

            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
        </activity>




        <activity
            android:launchMode="singleTop"
            android:name=".OrdersInventory.HomeDeliveryInventory.HomeDelivery"
            android:label="Home Delivery Inventory"
            android:parentActivityName="org.nearbyshops.shopkeeperappnew.ShopHome.ShopHome">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.nearbyshops.shopkeeperappnew.ShopHome.ShopHome" />

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />

            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
        </activity>






        <activity
            android:name="org.nearbyshops.shopkeeperappnew.SignUp.ForgotPassword.ForgotPassword"
            android:label="Forgot Password"
            android:windowSoftInputMode="adjustResize" />




        <activity
            android:label="Sign Up"
            android:name="org.nearbyshops.shopkeeperappnew.SignUp.SignUp"
            android:windowSoftInputMode="adjustResize" />


        <activity
            android:name="org.nearbyshops.shopkeeperappnew.Login.Login"
            android:windowSoftInputMode="adjustResize" />




        <activity android:name="org.nearbyshops.shopkeeperappnew.Home">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />




        <activity
            android:name="org.nearbyshops.shopkeeperappnew.QuickStockEditor.QuickStockEditor"
            android:label="Quick Stock Editor"
            android:parentActivityName="org.nearbyshops.shopkeeperappnew.ShopHome.ShopHome">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.nearbyshops.shopkeeperappnew.ShopHome.ShopHome" />
        </activity>




        <activity
            android:name="org.nearbyshops.shopkeeperappnew.OrderDetail.OrderDetail"
            android:label="Order Details"
            android:parentActivityName="org.nearbyshops.shopkeeperappnew.ShopHome.ShopHome">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.nearbyshops.shopkeeperappnew.ShopHome.ShopHome" />
        </activity>




        <activity
            android:name="org.nearbyshops.shopkeeperappnew.ItemsByCategory.ItemsByCategory"
            android:label="Items by Category"
            android:launchMode="singleTop"
            android:parentActivityName="org.nearbyshops.shopkeeperappnew.ShopHome.ShopHome">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.nearbyshops.shopkeeperappnew.ShopHome.ShopHome" />
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />

            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
        </activity>



        <activity
            android:name="org.nearbyshops.shopkeeperappnew.ItemsInShopByCat.ItemsInShopByCat"
            android:label="Items In Shop"
            android:launchMode="singleTop"
            android:parentActivityName="org.nearbyshops.shopkeeperappnew.ShopHome.ShopHome">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.nearbyshops.shopkeeperappnew.ShopHome.ShopHome" />
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />

            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
        </activity>




        <activity
            android:name="org.nearbyshops.shopkeeperappnew.ItemsInShop.ItemsInShop"
            android:label="Items In Shop"
            android:launchMode="singleTop"
            android:parentActivityName="org.nearbyshops.shopkeeperappnew.ShopHome.ShopHome">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.nearbyshops.shopkeeperappnew.ShopHome.ShopHome" />
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />

            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
        </activity>




        <activity
            android:launchMode="singleTop"
            android:name=".OrderHistory.OrderHistory"
            android:label="Order History"
            android:parentActivityName=".ShopHome.ShopHome">

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />

            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

        </activity>



        <activity
            android:name=".Transactions.Transactions"
            android:label="Transaction History"
            android:parentActivityName=".Home">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Home" />
        </activity>


        <activity
            android:name="org.nearbyshops.shopkeeperappnew.EditProfile.EditProfile"
            android:label="Edit Profile"
            android:parentActivityName="org.nearbyshops.shopkeeperappnew.Home">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.nearbyshops.shopkeeperappnew.Home" />
        </activity>



        <activity
            android:name="org.nearbyshops.shopkeeperappnew.EditProfile.ChangeEmail.ChangeEmail"
            android:label="Change E-mail"
            android:parentActivityName="org.nearbyshops.shopkeeperappnew.EditProfile.EditProfile">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.nearbyshops.shopkeeperappnew.EditProfile.EditProfile" />
        </activity>





        <activity
            android:name="org.nearbyshops.shopkeeperappnew.EditProfile.ChangePhone.ChangePhone"
            android:label="Change Phone"
            android:parentActivityName="org.nearbyshops.shopkeeperappnew.EditProfile.EditProfile">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.nearbyshops.shopkeeperappnew.EditProfile.EditProfile" />
        </activity>




        <activity android:name=".MarketDetail.MarketDetail"/>



        <activity android:name=".Markets.Markets" />



        <activity
            android:name="org.nearbyshops.shopkeeperappnew.EditProfileStaff.EditProfileStaff"
            android:label="Edit Profile"
            android:parentActivityName="org.nearbyshops.shopkeeperappnew.Home">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.nearbyshops.shopkeeperappnew.Home" />
        </activity>



        <activity
            android:name="org.nearbyshops.shopkeeperappnew.StaffList.StaffList"
            android:label="Staff List"
            android:parentActivityName="org.nearbyshops.shopkeeperappnew.Home">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.nearbyshops.shopkeeperappnew.Home" />
        </activity>




        <activity
            android:name="org.nearbyshops.shopkeeperappnew.EditProfileDelivery.EditProfileDelivery"
            android:label="Edit Profile Delivery"
            android:parentActivityName="org.nearbyshops.shopkeeperappnew.Home">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.nearbyshops.shopkeeperappnew.Home" />
        </activity>



        <activity
            android:name="org.nearbyshops.shopkeeperappnew.StaffListDelivery.DeliveryGuyList"
            android:label="Delivery Guy List"
            android:parentActivityName="org.nearbyshops.shopkeeperappnew.Home">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.nearbyshops.shopkeeperappnew.Home" />
        </activity>





        <activity android:name="org.nearbyshops.shopkeeperappnew.EditShop.EditShop"
            android:label="Edit Shop" />



        <activity
            android:name="org.nearbyshops.shopkeeperappnew.EditShopImage.EditShopImage"
            android:label="Edit Shop Image"
            android:parentActivityName="org.nearbyshops.shopkeeperappnew.Home">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.nearbyshops.shopkeeperappnew.Home" />
        </activity>


        <activity
            android:name="org.nearbyshops.shopkeeperappnew.ShopImageList.ShopImageList"
            android:label="Shop Images"
            android:parentActivityName="org.nearbyshops.shopkeeperappnew.Home">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.nearbyshops.shopkeeperappnew.Home" />
        </activity>



        <activity
            android:name="org.nearbyshops.shopkeeperappnew.ShopHome.ShopHome"
            android:label="Shop Home">
        </activity>




        <activity
            android:name="org.nearbyshops.shopkeeperappnew.ShopStaffHome.ShopStaffDashboard"
            android:label="Edit Profile"
            android:parentActivityName="org.nearbyshops.shopkeeperappnew.Home">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.nearbyshops.shopkeeperappnew.Home" />
        </activity>



        <activity
            android:name=".PickDeliveryRadiusFromMap.PickDeliveryRange"
            android:label="Pick Delivery Range" />



        <activity
            android:name=".EditItem.EditItem"
            android:label="Edit Item"
            android:parentActivityName=".ShopHome.ShopHome">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ShopHome.ShopHome" />
        </activity>


    <!--            android:theme="@style/Theme.AppCompat.Light.NoActionBar">-->

        <activity
            android:name=".EditItemImage.EditItemImage"
            android:label="Edit Item Image"
            android:parentActivityName=".ShopHome.ShopHome">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ShopHome.ShopHome" />
        </activity>

    </application>

</manifest>